
@import (inline) "icomoon/style.css";
@import "./fonts/basics.less";
@import "animate.less";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  COLORING AND THEMING UTILITIES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// COLOR
.front {

	.base () { color: @base; }
	.hover ()   { &:hover { color: @hover; } }
	.selected () { color: @selected; }
	.primary () { color: @primary; }
	.secondary () { color: @secondary; }
	.success () { color: @success; }
	.warning () { color: @warning; }
	.error () { color: @error; }

	.baseAndHover () {
		color: @base;
		&:hover { color: @hover; }
	}
	.primaryAndHover () {
		color: @primary;
		&:hover { color: @hover; }
	}
	.secondaryAndHover () {
		color: @secondary;
		&:hover { color: @hover; }
	}
	.selectedAndHover () {
		.front.selected();
		.front.hover();
	}
	.successAndHover () {
		.front.success();
		.front.hover();
	}
	.warningAndHover () {
		.front.warning();
		.front.hover();
	}
	.errorAndHover () {
		.front.error();
		.front.hover();
	}

}

// BACKGROUND-COLOR
.back {

	.base () {
		background-color: @base;
		color: @baseContrast;
	}
	.hover ()   {
		&:hover {
			background-color: @hover;
			color: @hoverContrast;
		}
	}
	.selected () {
		background-color: @selected;
		color: @selectedContrast;
	}
	.primary () {
		background-color: @primary;
		color: @primaryContrast;
	}
	.secondary () {
		background-color: @secondary;
		color: @secondaryContrast;
	}
	.success () {
		background-color: @success;
		color: @successContrast;
	}
	.warning () {
		background-color: @warning;
		color: @warningContrast;
	}
	.error () {
		background-color: @error;
		color: @errorContrast;
	}

	.baseAndHover () {
		.back.base();
		.back.hover();
	}
	.primaryAndHover () {
		.back.primary();
		.back.hover();
	}
	.secondaryAndHover () {
		.back.secondary();
		.back.hover();
	}
	.selectedAndHover () {
		.back.selected();
		.back.hover();
	}
	.successAndHover () {
		.back.success();
		.back.hover();
	}
	.warningAndHover () {
		.back.warning();
		.back.hover();
	}
	.errorAndHover () {
		.back.error();
		.back.hover();
	}

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  LAYOUT UTILITIES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// HIDDEN
.hidden { display: none !important; }

// CLICKABLE
.clickable { cursor: pointer; }

// FLEX CENTERED VERTICALLY AND HORIZONTALLY
.flexautocenter () {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fullscreen () {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

// COLORED TEXTS
.error-text { color: @error; }
.warning-text { color: @warning; }
.success-text { color: @success; }

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
