
@font-face {
  font-family: "CrimsonText-Bold";
  src: url(/stylectrode/fonts/CrimsonText/CrimsonText-Bold.ttf);
}

@font-face {
  font-family: "CrimsonText-Roman";
  src: url(/stylectrode/fonts/CrimsonText/CrimsonText-Roman.ttf);
}

@font-face {
  font-family: "CrimsonText-SemiBold";
  src: url(/stylectrode/fonts/CrimsonText/CrimsonText-SemiBold.ttf);
}
