
@font-face {
	font-family: "DejaVuSansMono";
	src: url(/stylectrode/fonts/DejaVuSansMono/DejaVuSansMono.ttf);
}

@font-face {
	font-family: "DejaVuSansMono-Oblique";
	src: url(/stylectrode/fonts/DejaVuSansMono/DejaVuSansMono-Oblique.ttf);
}

@font-face {
	font-family: "DejaVuSansMono-Bold";
	src: url(/stylectrode/fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf);
}

@font-face {
	font-family: "DejaVuSansMono-BoldOblique";
	src: url(/stylectrode/fonts/DejaVuSansMono/DejaVuSansMono-BoldOblique.ttf);
}
