
@font-face {
	font-family: "Lato-Black";
	src: url(/stylectrode/fonts/Lato/Lato-Black.ttf);
}

@font-face {
	font-family: "Lato-Bold";
	src: url(/stylectrode/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
	font-family: "Lato-Hairline";
	src: url(/stylectrode/fonts/Lato/Lato-Hairline.ttf);
}

@font-face {
	font-family: "Lato-Light";
	src: url(/stylectrode/fonts/Lato/Lato-Light.ttf);
}

@font-face {
	font-family: "Lato";
	src: url(/stylectrode/fonts/Lato/Lato-Regular.ttf);
}
