
@font-face {
	font-family: "LiberationMono-Bold";
	src: url(/stylectrode/fonts/LiberationMono/LiberationMono-Bold.ttf);
}

@font-face {
	font-family: "LiberationMono";
	src: url(/stylectrode/fonts/LiberationMono/LiberationMono-Regular.ttf);
}

// Liberation Sans is also a good super simple font, it could be added if needed
