
@font-face {
	font-family: "SourceSansPro-Black";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-Black.ttf);
}

@font-face {
	font-family: "SourceSansPro-Bold";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}

@font-face {
	font-family: "SourceSansPro-Light";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-Light.ttf);
}

@font-face {
	font-family: "SourceSansPro-ExtraLight";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf);
}

@font-face {
	font-family: "SourceSansPro";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: "SourceSansPro-SemiBold";
	src: url(/stylectrode/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
}
