
@font-face {
	font-family: "ZillaSlab-Bold";
	src: url(/stylectrode/fonts/ZillaSlab/ZillaSlab-Bold.otf);
}

@font-face {
	font-family: "ZillaSlab-Light";
	src: url(/stylectrode/fonts/ZillaSlab/ZillaSlab-Light.otf);
}

@font-face {
	font-family: "ZillaSlab";
	src: url(/stylectrode/fonts/ZillaSlab/ZillaSlab-Regular.otf);
}

@font-face {
  font-family: "ZillaSlabHighlight-Bold";
  src: url(/stylectrode/fonts/ZillaSlab/ZillaSlabHighlight-Bold.otf);
}

@font-face {
  font-family: "ZillaSlabHighlight";
  src: url(/stylectrode/fonts/ZillaSlab/ZillaSlabHighlight-Regular.otf);
}
