
// The following is a base theme containing all necessary variables for a stylectrode based app
// if you want to create your own theme, it's a good template to start with
// keep in mind the annotations because if you don't respect your app may have strange displays

// @base is the default color of backgrounds
// @baseContrast will be applied to texts having @base background
@base: #000000;
@baseTransparent: #00000088;
@baseTransparentMore: #00000033;
@baseTransparentLess: #000000CC;
@baseContrast: #FFFFFF;
@baseContrastTransparent: #FFFFFF88;

// @primary is the color of buttons, and al elements you want to be nicely contrasted with base in page
// @primaryContrast will be applied to texts having @primary background
@primary: #08FFBC; // should have fare contrast with @base and @secondary
@primaryTransparent: #08FFBC88;
@primaryTransparentMore: #08FFBC33;
@primaryTransparentLess: #08FFBCCC;
@primaryContrast: black;

// @secondary is an alternative to @base when you want a background closer to @primary, but still keep some distance with @primary color, since some @primary buttons should contrast with it
// @secondaryContrast will be applied to texts having @secondary background
@secondary: #A3EFD8; // rgba(163, 239, 216, 0.99)
@secondaryTransparent: #A3EFD888;
@secondaryTransparentMore: #A3EFD833;
@secondaryTransparentLess: #A3EFD8CC;
@secondaryContrast: black;

// @hover is the color that will be applied to an element that is interractive when you hover over it
// @hoverContrast will be applied to texts having @hover background
@hover: #795349; // should have fare contrast with @base, @secondary and @selected
@hoverContrast: white;

// @selected well... is for selected elements :)
// @selectedContrast will be applied to texts having @selected background
@selected: #FFD703;  // rgba(253, 4, 132, 0.62) rgba(206, 95, 14, 0.60)
@selectedTransparent: #FFD70388;
@selectedTransparentMore: #FFD70333;
@selectedTransparentLess: #FFD703CC;
@selectedContrast: black;

// is the app happy with what you are doing :)
// all those colors can be used for text or backgrounds, so make sure they have nice contrast with @base and @secondary
@success: #6FD100;
@successContrast: black;
@error: #F00; // #FF00B3
@errorContrast: white;
@warning: orange;
@warningContrast: black;
@danger: #F00;
@dangerContrast: white;

// font
@basefontLight: Lato-Light;
@basefont: Lato;
@basefontBold: Lato-Bold;
@basefontMonospace: DejaVuSansMono, monospace;

// the dimension of the scrollbar (useful to recalculate the width of some elements when with or without scroll)
@scrollBar: 12px;
