@font-face {
  font-family: 'icomoon';
  src:  url('/stylectrode/icomoon/fonts/icomoon.eot?m50a5v');
  src:  url('/stylectrode/icomoon/fonts/icomoon.eot?m50a5v#iefix') format('embedded-opentype'),
    url('/stylectrode/icomoon/fonts/icomoon.ttf?m50a5v') format('truetype'),
    url('/stylectrode/icomoon/fonts/icomoon.woff?m50a5v') format('woff'),
    url('/stylectrode/icomoon/fonts/icomoon.svg?m50a5v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dato:before {
  content: "\e913";
}
.icon-arrow-down-left3:before {
  content: "\e906";
}
.icon-arrow-down-right3:before {
  content: "\e907";
}
.icon-arrow-down3:before {
  content: "\e905";
}
.icon-arrow-left3:before {
  content: "\e908";
}
.icon-arrow-right3:before {
  content: "\e909";
}
.icon-arrow-up-left3:before {
  content: "\e90b";
}
.icon-arrow-up-right3:before {
  content: "\e90c";
}
.icon-arrow-up3:before {
  content: "\e90a";
}
.icon-duckduckgo:before {
  content: "\e90d";
}
.icon-logicaloperator-and:before {
  content: "\e90e";
}
.icon-logicaloperator-nand:before {
  content: "\e90f";
}
.icon-logicaloperator-nor:before {
  content: "\e910";
}
.icon-logicaloperator-or:before {
  content: "\e911";
}
.icon-projector:before {
  content: "\e912";
}
.icon-3dglasses:before {
  content: "\e9af";
}
.icon-abacus:before {
  content: "\ea1b";
}
.icon-add:before {
  content: "\ea6d";
}
.icon-addressbook:before {
  content: "\ea37";
}
.icon-addressbook2:before {
  content: "\ea38";
}
.icon-aids:before {
  content: "\ea41";
}
.icon-alarm-cancel:before {
  content: "\e99c";
}
.icon-alarm2:before {
  content: "\e99b";
}
.icon-alarmclock:before {
  content: "\e983";
}
.icon-alert:before {
  content: "\ea6f";
}
.icon-anchor:before {
  content: "\ea7a";
}
.icon-android2:before {
  content: "\e97c";
}
.icon-archive:before {
  content: "\e9d6";
}
.icon-atom:before {
  content: "\ea71";
}
.icon-attachment2:before {
  content: "\ea19";
}
.icon-auction:before {
  content: "\ea15";
}
.icon-badge:before {
  content: "\ea5e";
}
.icon-badge2:before {
  content: "\ea5f";
}
.icon-bag:before {
  content: "\e9e9";
}
.icon-barcode2:before {
  content: "\ea57";
}
.icon-barcode3:before {
  content: "\ea58";
}
.icon-baseball:before {
  content: "\e9ad";
}
.icon-basket:before {
  content: "\e998";
}
.icon-batman:before {
  content: "\e9ce";
}
.icon-battery:before {
  content: "\e9d7";
}
.icon-battery2:before {
  content: "\e9d8";
}
.icon-battery3:before {
  content: "\e9d9";
}
.icon-battery4:before {
  content: "\e9da";
}
.icon-battery5:before {
  content: "\e9db";
}
.icon-bike:before {
  content: "\ea4e";
}
.icon-bike2:before {
  content: "\ea51";
}
.icon-blocked2:before {
  content: "\ea65";
}
.icon-bomb:before {
  content: "\e9d5";
}
.icon-book2:before {
  content: "\ea55";
}
.icon-book3:before {
  content: "\ea56";
}
.icon-bookmark2:before {
  content: "\ea35";
}
.icon-bookmark3:before {
  content: "\ea36";
}
.icon-bowling:before {
  content: "\e9ab";
}
.icon-bowlingpin:before {
  content: "\e9ac";
}
.icon-box:before {
  content: "\e9e6";
}
.icon-box2:before {
  content: "\e9e7";
}
.icon-brush:before {
  content: "\ea03";
}
.icon-bus:before {
  content: "\ea50";
}
.icon-cabinet:before {
  content: "\e943";
}
.icon-cabinet2:before {
  content: "\e944";
}
.icon-cake:before {
  content: "\e962";
}
.icon-calculator2:before {
  content: "\ea13";
}
.icon-calendar2:before {
  content: "\e945";
}
.icon-calendar3:before {
  content: "\e946";
}
.icon-calendar4:before {
  content: "\e947";
}
.icon-camera2:before {
  content: "\e952";
}
.icon-camera3:before {
  content: "\e953";
}
.icon-camera4:before {
  content: "\e954";
}
.icon-cancel:before {
  content: "\e969";
}
.icon-cancel2:before {
  content: "\e96a";
}
.icon-cancel3:before {
  content: "\e989";
}
.icon-car:before {
  content: "\ea4d";
}
.icon-cassette:before {
  content: "\e97f";
}
.icon-chart:before {
  content: "\e990";
}
.icon-chart2:before {
  content: "\e991";
}
.icon-chart3:before {
  content: "\e992";
}
.icon-chart4:before {
  content: "\e993";
}
.icon-chart5:before {
  content: "\e994";
}
.icon-chart6:before {
  content: "\e995";
}
.icon-chat:before {
  content: "\ea05";
}
.icon-chat2:before {
  content: "\ea07";
}
.icon-chat3:before {
  content: "\ea08";
}
.icon-checked:before {
  content: "\ea6b";
}
.icon-checkmark3:before {
  content: "\e967";
}
.icon-checkmark4:before {
  content: "\e968";
}
.icon-checkmark5:before {
  content: "\e988";
}
.icon-chronometer:before {
  content: "\e981";
}
.icon-circle:before {
  content: "\ea30";
}
.icon-clipboard2:before {
  content: "\ea82";
}
.icon-clipboard3:before {
  content: "\ea83";
}
.icon-clipboard4:before {
  content: "\ea84";
}
.icon-cloud2:before {
  content: "\e98e";
}
.icon-cloudy:before {
  content: "\ea4b";
}
.icon-cloudy2:before {
  content: "\ea4c";
}
.icon-coffee:before {
  content: "\e95f";
}
.icon-cog2:before {
  content: "\e971";
}
.icon-cog3:before {
  content: "\e973";
}
.icon-cogs2:before {
  content: "\e972";
}
.icon-coins:before {
  content: "\ea33";
}
.icon-collapse:before {
  content: "\ea5a";
}
.icon-comments:before {
  content: "\ea06";
}
.icon-compass3:before {
  content: "\ea77";
}
.icon-cone:before {
  content: "\ea64";
}
.icon-cord:before {
  content: "\e9bf";
}
.icon-crop2:before {
  content: "\ea2d";
}
.icon-cross2:before {
  content: "\e9cb";
}
.icon-cube:before {
  content: "\e9e5";
}
.icon-davidstar:before {
  content: "\e9ca";
}
.icon-diamond:before {
  content: "\e9e8";
}
.icon-direction:before {
  content: "\e9a2";
}
.icon-discout:before {
  content: "\ea20";
}
.icon-dollar:before {
  content: "\ea31";
}
.icon-dollar2:before {
  content: "\ea32";
}
.icon-download4:before {
  content: "\e964";
}
.icon-download5:before {
  content: "\e997";
}
.icon-download6:before {
  content: "\ea12";
}
.icon-drink:before {
  content: "\e95b";
}
.icon-drink2:before {
  content: "\e95c";
}
.icon-drink3:before {
  content: "\e95d";
}
.icon-drink4:before {
  content: "\e95e";
}
.icon-edit:before {
  content: "\ea21";
}
.icon-eightball:before {
  content: "\e9aa";
}
.icon-envelope:before {
  content: "\ea3a";
}
.icon-envelope2:before {
  content: "\ea3b";
}
.icon-equalizer3:before {
  content: "\ea0c";
}
.icon-error:before {
  content: "\ea6c";
}
.icon-expand:before {
  content: "\ea59";
}
.icon-eye2:before {
  content: "\e98a";
}
.icon-eyedropper2:before {
  content: "\ea72";
}
.icon-female:before {
  content: "\ea40";
}
.icon-file:before {
  content: "\e948";
}
.icon-file2:before {
  content: "\e949";
}
.icon-file3:before {
  content: "\e94a";
}
.icon-files:before {
  content: "\e94b";
}
.icon-film2:before {
  content: "\e955";
}
.icon-film3:before {
  content: "\e956";
}
.icon-film4:before {
  content: "\e957";
}
.icon-folder2:before {
  content: "\e999";
}
.icon-football:before {
  content: "\e9a9";
}
.icon-forward4:before {
  content: "\ea29";
}
.icon-gamepad:before {
  content: "\e99a";
}
.icon-globe:before {
  content: "\ea73";
}
.icon-globe2:before {
  content: "\ea74";
}
.icon-graduate:before {
  content: "\e9a6";
}
.icon-grid:before {
  content: "\e9eb";
}
.icon-grid2:before {
  content: "\e9ec";
}
.icon-hammer3:before {
  content: "\ea02";
}
.icon-hand:before {
  content: "\e9b8";
}
.icon-headphones2:before {
  content: "\e986";
}
.icon-health:before {
  content: "\e975";
}
.icon-heart2:before {
  content: "\ea42";
}
.icon-heart3:before {
  content: "\ea7f";
}
.icon-heart4:before {
  content: "\ea80";
}
.icon-hourglass:before {
  content: "\ea1a";
}
.icon-icecream:before {
  content: "\e961";
}
.icon-image2:before {
  content: "\e99f";
}
.icon-inbox:before {
  content: "\e963";
}
.icon-inbox2:before {
  content: "\e966";
}
.icon-info2:before {
  content: "\ea43";
}
.icon-info3:before {
  content: "\ea44";
}
.icon-injection:before {
  content: "\e9e0";
}
.icon-ipod:before {
  content: "\e950";
}
.icon-justice:before {
  content: "\ea16";
}
.icon-key3:before {
  content: "\e9be";
}
.icon-keyboard2:before {
  content: "\ea67";
}
.icon-keyboard3:before {
  content: "\ea68";
}
.icon-lab2:before {
  content: "\e9a7";
}
.icon-lamp:before {
  content: "\e9d1";
}
.icon-lamp2:before {
  content: "\e9d2";
}
.icon-lamp3:before {
  content: "\e9e2";
}
.icon-lamp4:before {
  content: "\e9e3";
}
.icon-lamp5:before {
  content: "\e9e4";
}
.icon-layout:before {
  content: "\e9f1";
}
.icon-layout10:before {
  content: "\e9fa";
}
.icon-layout11:before {
  content: "\e9fb";
}
.icon-layout12:before {
  content: "\e9fc";
}
.icon-layout13:before {
  content: "\e9fd";
}
.icon-layout14:before {
  content: "\e9fe";
}
.icon-layout2:before {
  content: "\e9f2";
}
.icon-layout3:before {
  content: "\e9f3";
}
.icon-layout4:before {
  content: "\e9f4";
}
.icon-layout5:before {
  content: "\e9f5";
}
.icon-layout6:before {
  content: "\e9f6";
}
.icon-layout7:before {
  content: "\e9f7";
}
.icon-layout8:before {
  content: "\e9f8";
}
.icon-layout9:before {
  content: "\e9f9";
}
.icon-library2:before {
  content: "\ea14";
}
.icon-lightning:before {
  content: "\ea48";
}
.icon-link2:before {
  content: "\e941";
}
.icon-link3:before {
  content: "\e942";
}
.icon-list3:before {
  content: "\e9ed";
}
.icon-list4:before {
  content: "\e9ee";
}
.icon-location3:before {
  content: "\e996";
}
.icon-locked:before {
  content: "\e9c0";
}
.icon-locked2:before {
  content: "\e9c2";
}
.icon-lockedheart:before {
  content: "\ea7b";
}
.icon-loop3:before {
  content: "\ea2c";
}
.icon-magnet2:before {
  content: "\ea7c";
}
.icon-magnifier:before {
  content: "\e9c4";
}
.icon-male:before {
  content: "\ea3f";
}
.icon-map3:before {
  content: "\e9a3";
}
.icon-marvin:before {
  content: "\e97d";
}
.icon-medal:before {
  content: "\e9bb";
}
.icon-medal2:before {
  content: "\e9bc";
}
.icon-megaphone:before {
  content: "\e9dc";
}
.icon-megaphone2:before {
  content: "\e9dd";
}
.icon-microphone:before {
  content: "\e958";
}
.icon-microphone2:before {
  content: "\e959";
}
.icon-microphone3:before {
  content: "\e95a";
}
.icon-microphone4:before {
  content: "\ea63";
}
.icon-microwave:before {
  content: "\e9b0";
}
.icon-minus2:before {
  content: "\e96d";
}
.icon-minus3:before {
  content: "\e96e";
}
.icon-minus4:before {
  content: "\ea6e";
}
.icon-moneybag:before {
  content: "\e9ea";
}
.icon-monitor:before {
  content: "\e94f";
}
.icon-moon:before {
  content: "\ea4a";
}
.icon-moonandstar:before {
  content: "\e9cc";
}
.icon-mouse:before {
  content: "\e9b4";
}
.icon-mug2:before {
  content: "\e960";
}
.icon-music2:before {
  content: "\ea3d";
}
.icon-mute:before {
  content: "\e9b7";
}
.icon-narrow:before {
  content: "\ea10";
}
.icon-navigation:before {
  content: "\ea7d";
}
.icon-notice:before {
  content: "\e96f";
}
.icon-notice2:before {
  content: "\e970";
}
.icon-number:before {
  content: "\e929";
}
.icon-number10:before {
  content: "\e932";
}
.icon-number11:before {
  content: "\e933";
}
.icon-number12:before {
  content: "\e934";
}
.icon-number13:before {
  content: "\e935";
}
.icon-number14:before {
  content: "\e936";
}
.icon-number15:before {
  content: "\e937";
}
.icon-number16:before {
  content: "\e938";
}
.icon-number17:before {
  content: "\e939";
}
.icon-number18:before {
  content: "\e93a";
}
.icon-number19:before {
  content: "\e93b";
}
.icon-number2:before {
  content: "\e92a";
}
.icon-number20:before {
  content: "\e93c";
}
.icon-number3:before {
  content: "\e92b";
}
.icon-number4:before {
  content: "\e92c";
}
.icon-number5:before {
  content: "\e92d";
}
.icon-number6:before {
  content: "\e92e";
}
.icon-number7:before {
  content: "\e92f";
}
.icon-number8:before {
  content: "\e930";
}
.icon-number9:before {
  content: "\e931";
}
.icon-open:before {
  content: "\e9a0";
}
.icon-oven:before {
  content: "\e9b2";
}
.icon-pacman2:before {
  content: "\e97e";
}
.icon-paint:before {
  content: "\ea01";
}
.icon-paperplane:before {
  content: "\ea53";
}
.icon-patch:before {
  content: "\e9de";
}
.icon-pen2:before {
  content: "\ea04";
}
.icon-pen3:before {
  content: "\ea1d";
}
.icon-pencil3:before {
  content: "\ea1c";
}
.icon-phone2:before {
  content: "\e94c";
}
.icon-phone3:before {
  content: "\e99d";
}
.icon-phone4:before {
  content: "\e99e";
}
.icon-piano:before {
  content: "\ea45";
}
.icon-picture:before {
  content: "\e979";
}
.icon-pictures:before {
  content: "\e97a";
}
.icon-pictures2:before {
  content: "\e97b";
}
.icon-pictures3:before {
  content: "\ea70";
}
.icon-pig:before {
  content: "\ea34";
}
.icon-pil:before {
  content: "\e9df";
}
.icon-pin:before {
  content: "\ea1e";
}
.icon-pin2:before {
  content: "\ea1f";
}
.icon-plane:before {
  content: "\ea52";
}
.icon-plus2:before {
  content: "\e96b";
}
.icon-plus3:before {
  content: "\e96c";
}
.icon-popin:before {
  content: "\ea5c";
}
.icon-popout:before {
  content: "\ea5b";
}
.icon-position:before {
  content: "\e98b";
}
.icon-presentation:before {
  content: "\ea3e";
}
.icon-printer2:before {
  content: "\ea6a";
}
.icon-profile2:before {
  content: "\ea23";
}
.icon-profile3:before {
  content: "\ea24";
}
.icon-profile4:before {
  content: "\ea25";
}
.icon-quote:before {
  content: "\e93d";
}
.icon-quote2:before {
  content: "\e93e";
}
.icon-radio:before {
  content: "\e9b9";
}
.icon-radio2:before {
  content: "\ea69";
}
.icon-radioactive:before {
  content: "\ea3c";
}
.icon-rain:before {
  content: "\ea46";
}
.icon-refrigerator:before {
  content: "\e9b1";
}
.icon-reply2:before {
  content: "\ea28";
}
.icon-resize:before {
  content: "\ea0d";
}
.icon-resize2:before {
  content: "\ea0e";
}
.icon-resize3:before {
  content: "\ea11";
}
.icon-retweet:before {
  content: "\ea2a";
}
.icon-rocket2:before {
  content: "\ea54";
}
.icon-rotate:before {
  content: "\ea26";
}
.icon-rotate2:before {
  content: "\ea27";
}
.icon-ruler:before {
  content: "\e9ef";
}
.icon-ruler2:before {
  content: "\e9f0";
}
.icon-ruler3:before {
  content: "\ea86";
}
.icon-sad3:before {
  content: "\e9b6";
}
.icon-safe:before {
  content: "\ea39";
}
.icon-sale:before {
  content: "\e9a1";
}
.icon-satellite:before {
  content: "\e9ba";
}
.icon-scissors2:before {
  content: "\ea22";
}
.icon-screwdriver:before {
  content: "\ea00";
}
.icon-shipping:before {
  content: "\ea75";
}
.icon-shuffle2:before {
  content: "\ea2b";
}
.icon-sitemap:before {
  content: "\e98c";
}
.icon-sitemap2:before {
  content: "\e98d";
}
.icon-skeletor:before {
  content: "\e9d0";
}
.icon-smiley:before {
  content: "\e9b5";
}
.icon-snow:before {
  content: "\ea47";
}
.icon-soccer:before {
  content: "\e9ae";
}
.icon-spaceinvaders:before {
  content: "\e9cf";
}
.icon-square:before {
  content: "\ea2e";
}
.icon-square2:before {
  content: "\ea2f";
}
.icon-stack2:before {
  content: "\e9c7";
}
.icon-stack3:before {
  content: "\e9c8";
}
.icon-stack4:before {
  content: "\e9c9";
}
.icon-stats:before {
  content: "\ea17";
}
.icon-stats2:before {
  content: "\ea18";
}
.icon-stop3:before {
  content: "\ea66";
}
.icon-streetlight:before {
  content: "\e9d4";
}
.icon-stretch:before {
  content: "\ea0f";
}
.icon-suitcase:before {
  content: "\e976";
}
.icon-suitcase2:before {
  content: "\e977";
}
.icon-suitcase3:before {
  content: "\e978";
}
.icon-sun2:before {
  content: "\ea49";
}
.icon-switch2:before {
  content: "\e9bd";
}
.icon-switch3:before {
  content: "\ea85";
}
.icon-tablet2:before {
  content: "\e94d";
}
.icon-tag:before {
  content: "\e93f";
}
.icon-tag2:before {
  content: "\e940";
}
.icon-tags:before {
  content: "\ea7e";
}
.icon-target2:before {
  content: "\ea5d";
}
.icon-thermometer:before {
  content: "\e9e1";
}
.icon-ticket2:before {
  content: "\ea60";
}
.icon-ticket3:before {
  content: "\ea61";
}
.icon-ticket4:before {
  content: "\ea62";
}
.icon-tie:before {
  content: "\e9a8";
}
.icon-time:before {
  content: "\e984";
}
.icon-time2:before {
  content: "\e985";
}
.icon-tools:before {
  content: "\e9ff";
}
.icon-transformers:before {
  content: "\e9cd";
}
.icon-trashcan:before {
  content: "\e9a4";
}
.icon-truck2:before {
  content: "\ea4f";
}
.icon-tv2:before {
  content: "\e951";
}
.icon-umbrella:before {
  content: "\e9d3";
}
.icon-unlocked2:before {
  content: "\e9c1";
}
.icon-unlocked3:before {
  content: "\e9c3";
}
.icon-upload4:before {
  content: "\e965";
}
.icon-upload5:before {
  content: "\e98f";
}
.icon-usb:before {
  content: "\ea81";
}
.icon-volume:before {
  content: "\ea09";
}
.icon-volume2:before {
  content: "\ea0a";
}
.icon-volume3:before {
  content: "\ea0b";
}
.icon-vote:before {
  content: "\e9a5";
}
.icon-wallet:before {
  content: "\e987";
}
.icon-warning2:before {
  content: "\e974";
}
.icon-washingmachine:before {
  content: "\e9b3";
}
.icon-watch:before {
  content: "\e980";
}
.icon-watch2:before {
  content: "\e982";
}
.icon-window:before {
  content: "\e94e";
}
.icon-yingyang:before {
  content: "\ea76";
}
.icon-zip:before {
  content: "\ea78";
}
.icon-zip2:before {
  content: "\ea79";
}
.icon-zoomin:before {
  content: "\e9c5";
}
.icon-zoomout:before {
  content: "\e9c6";
}
.icon-500px:before {
  content: "\ec32";
}
.icon-Celsius:before {
  content: "\ee74";
}
.icon-Fahrenheit:before {
  content: "\ee75";
}
.icon-IE:before {
  content: "\ec62";
}
.icon-IcoMoon:before {
  content: "\ec71";
}
.icon-accessibility:before {
  content: "\eb39";
}
.icon-address-book:before {
  content: "\eacb";
}
.icon-aid-kit:before {
  content: "\eb1f";
}
.icon-airplane:before {
  content: "\eb36";
}
.icon-alarm:before {
  content: "\ead7";
}
.icon-android:before {
  content: "\ec47";
}
.icon-angry:before {
  content: "\eb74";
}
.icon-angry2:before {
  content: "\eb75";
}
.icon-arrow-down:before {
  content: "\ebbd";
}
.icon-arrow-down-left:before {
  content: "\ebbe";
}
.icon-arrow-down-left2:before {
  content: "\ebc6";
}
.icon-arrow-down-right:before {
  content: "\ebbc";
}
.icon-arrow-down-right2:before {
  content: "\ebc4";
}
.icon-arrow-down2:before {
  content: "\ebc5";
}
.icon-arrow-left:before {
  content: "\ebbf";
}
.icon-arrow-left2:before {
  content: "\ebc7";
}
.icon-arrow-right:before {
  content: "\ebbb";
}
.icon-arrow-right2:before {
  content: "\ebc3";
}
.icon-arrow-up:before {
  content: "\ebb9";
}
.icon-arrow-up-left:before {
  content: "\ebb8";
}
.icon-arrow-up-left2:before {
  content: "\ebc0";
}
.icon-arrow-up-right:before {
  content: "\ebba";
}
.icon-arrow-up-right2:before {
  content: "\ebc2";
}
.icon-arrow-up2:before {
  content: "\ebc1";
}
.icon-attachment:before {
  content: "\eb54";
}
.icon-backward:before {
  content: "\eba1";
}
.icon-backward2:before {
  content: "\eba6";
}
.icon-backward4:before {
  content: "\ed76";
}
.icon-baffled:before {
  content: "\eb7a";
}
.icon-baffled2:before {
  content: "\eb7b";
}
.icon-barcode:before {
  content: "\eabe";
}
.icon-basecamp:before {
  content: "\ec39";
}
.icon-behance:before {
  content: "\ec2f";
}
.icon-behance2:before {
  content: "\ec30";
}
.icon-bell:before {
  content: "\ead8";
}
.icon-bin:before {
  content: "\eb33";
}
.icon-bin2:before {
  content: "\eb34";
}
.icon-binoculars:before {
  content: "\eb0c";
}
.icon-blocked:before {
  content: "\eb95";
}
.icon-blog:before {
  content: "\ea90";
}
.icon-blogger:before {
  content: "\ec3e";
}
.icon-blogger2:before {
  content: "\ec3f";
}
.icon-bold:before {
  content: "\ebe9";
}
.icon-book:before {
  content: "\eaa6";
}
.icon-bookmark:before {
  content: "\eb59";
}
.icon-bookmarks:before {
  content: "\eb5a";
}
.icon-books:before {
  content: "\eaa7";
}
.icon-box-add:before {
  content: "\eae5";
}
.icon-box-remove:before {
  content: "\eae6";
}
.icon-briefcase:before {
  content: "\eb35";
}
.icon-brightness-contrast:before {
  content: "\eb5d";
}
.icon-bubble:before {
  content: "\eaf2";
}
.icon-bubble2:before {
  content: "\eaf5";
}
.icon-bubbles:before {
  content: "\eaf3";
}
.icon-bubbles2:before {
  content: "\eaf4";
}
.icon-bubbles3:before {
  content: "\eaf6";
}
.icon-bubbles4:before {
  content: "\eaf7";
}
.icon-bug:before {
  content: "\eb20";
}
.icon-bullhorn:before {
  content: "\eaa1";
}
.icon-calculator:before {
  content: "\eac7";
}
.icon-calculator4:before {
  content: "\ec9c";
}
.icon-calendar:before {
  content: "\eada";
}
.icon-camera:before {
  content: "\ea96";
}
.icon-cancel-circle:before {
  content: "\eb94";
}
.icon-cart:before {
  content: "\eac1";
}
.icon-checkbox-checked:before {
  content: "\ebd9";
}
.icon-checkbox-unchecked:before {
  content: "\ebda";
}
.icon-checkmark:before {
  content: "\eb97";
}
.icon-checkmark2:before {
  content: "\eb98";
}
.icon-chrome:before {
  content: "\ec60";
}
.icon-circle-down:before {
  content: "\ebca";
}
.icon-circle-left:before {
  content: "\ebcb";
}
.icon-circle-right:before {
  content: "\ebc9";
}
.icon-circle-up:before {
  content: "\ebc8";
}
.icon-clear-formatting:before {
  content: "\ebf6";
}
.icon-clipboard:before {
  content: "\eb3f";
}
.icon-clock:before {
  content: "\ead5";
}
.icon-clock2:before {
  content: "\ead6";
}
.icon-cloud:before {
  content: "\eb48";
}
.icon-cloud-check:before {
  content: "\eb4b";
}
.icon-cloud-download:before {
  content: "\eb49";
}
.icon-cloud-upload:before {
  content: "\eb4a";
}
.icon-cloud5:before {
  content: "\ee4f";
}
.icon-cloud6:before {
  content: "\ee54";
}
.icon-cloud7:before {
  content: "\ee60";
}
.icon-cloud8:before {
  content: "\ee65";
}
.icon-cloud9:before {
  content: "\ee66";
}
.icon-cloudy3:before {
  content: "\ee4e";
}
.icon-cloudy4:before {
  content: "\ee5f";
}
.icon-cloudy5:before {
  content: "\ee64";
}
.icon-cloudy6:before {
  content: "\ee6f";
}
.icon-clubs:before {
  content: "\ea9f";
}
.icon-codepen:before {
  content: "\ec6f";
}
.icon-cog:before {
  content: "\eb1b";
}
.icon-cogs:before {
  content: "\eb1c";
}
.icon-coin-dollar:before {
  content: "\eac2";
}
.icon-coin-euro:before {
  content: "\eac3";
}
.icon-coin-pound:before {
  content: "\eac4";
}
.icon-coin-yen:before {
  content: "\eac5";
}
.icon-command:before {
  content: "\ebd5";
}
.icon-compass:before {
  content: "\ead0";
}
.icon-compass2:before {
  content: "\ead1";
}
.icon-compass5:before {
  content: "\eca5";
}
.icon-compass6:before {
  content: "\ee72";
}
.icon-confused:before {
  content: "\eb7c";
}
.icon-confused2:before {
  content: "\eb7d";
}
.icon-connection:before {
  content: "\eaa2";
}
.icon-contrast:before {
  content: "\eb5c";
}
.icon-cool:before {
  content: "\eb72";
}
.icon-cool2:before {
  content: "\eb73";
}
.icon-copy:before {
  content: "\eab3";
}
.icon-credit-card:before {
  content: "\eac6";
}
.icon-crop:before {
  content: "\ebde";
}
.icon-cross:before {
  content: "\eb96";
}
.icon-crying:before {
  content: "\eb88";
}
.icon-crying2:before {
  content: "\eb89";
}
.icon-css3:before {
  content: "\ec6d";
}
.icon-ctrl:before {
  content: "\ebd7";
}
.icon-database:before {
  content: "\eaeb";
}
.icon-delicious:before {
  content: "\ec54";
}
.icon-deviantart:before {
  content: "\ec31";
}
.icon-diamonds:before {
  content: "\eaa0";
}
.icon-dice:before {
  content: "\ea9c";
}
.icon-display:before {
  content: "\eadd";
}
.icon-download:before {
  content: "\eae7";
}
.icon-download2:before {
  content: "\eb4c";
}
.icon-download3:before {
  content: "\eb4e";
}
.icon-drawer:before {
  content: "\eae3";
}
.icon-drawer2:before {
  content: "\eae4";
}
.icon-dribbble:before {
  content: "\ec2e";
}
.icon-drive:before {
  content: "\eaea";
}
.icon-dropbox:before {
  content: "\ec35";
}
.icon-droplet:before {
  content: "\ea92";
}
.icon-earth:before {
  content: "\eb51";
}
.icon-edge:before {
  content: "\ec63";
}
.icon-eject:before {
  content: "\ebac";
}
.icon-ello:before {
  content: "\ec3d";
}
.icon-embed:before {
  content: "\ec06";
}
.icon-embed2:before {
  content: "\ec07";
}
.icon-enlarge:before {
  content: "\eb10";
}
.icon-enlarge2:before {
  content: "\eb12";
}
.icon-enter:before {
  content: "\eb9a";
}
.icon-envelop:before {
  content: "\eacc";
}
.icon-equalizer:before {
  content: "\eb19";
}
.icon-equalizer2:before {
  content: "\eb1a";
}
.icon-evil:before {
  content: "\eb76";
}
.icon-evil2:before {
  content: "\eb77";
}
.icon-exit:before {
  content: "\eb9b";
}
.icon-eye:before {
  content: "\eb55";
}
.icon-eye-blocked:before {
  content: "\eb58";
}
.icon-eye-minus:before {
  content: "\eb57";
}
.icon-eye-plus:before {
  content: "\eb56";
}
.icon-eyedropper:before {
  content: "\ea91";
}
.icon-feed:before {
  content: "\eaa4";
}
.icon-file-empty:before {
  content: "\eaab";
}
.icon-file-excel:before {
  content: "\ec69";
}
.icon-file-music:before {
  content: "\eaaf";
}
.icon-file-openoffice:before {
  content: "\ec67";
}
.icon-file-pdf:before {
  content: "\ec66";
}
.icon-file-picture:before {
  content: "\eaae";
}
.icon-file-play:before {
  content: "\eab0";
}
.icon-file-text:before {
  content: "\eaa9";
}
.icon-file-text2:before {
  content: "\eaad";
}
.icon-file-text4:before {
  content: "\ec7e";
}
.icon-file-video:before {
  content: "\eab1";
}
.icon-file-word:before {
  content: "\ec68";
}
.icon-file-zip:before {
  content: "\eab2";
}
.icon-files-empty:before {
  content: "\eaac";
}
.icon-film:before {
  content: "\ea9a";
}
.icon-filter:before {
  content: "\ebe2";
}
.icon-finder:before {
  content: "\ec46";
}
.icon-fire:before {
  content: "\eb30";
}
.icon-firefox:before {
  content: "\ec61";
}
.icon-first:before {
  content: "\eba8";
}
.icon-flag:before {
  content: "\eb53";
}
.icon-flattr:before {
  content: "\ec5c";
}
.icon-flickr:before {
  content: "\ec2a";
}
.icon-flickr2:before {
  content: "\ec2b";
}
.icon-flickr3:before {
  content: "\ec2c";
}
.icon-flickr4:before {
  content: "\ec2d";
}
.icon-floppy-disk:before {
  content: "\eae9";
}
.icon-folder:before {
  content: "\eab6";
}
.icon-folder-download:before {
  content: "\eaba";
}
.icon-folder-minus:before {
  content: "\eab9";
}
.icon-folder-open:before {
  content: "\eab7";
}
.icon-folder-plus:before {
  content: "\eab8";
}
.icon-folder-upload:before {
  content: "\eabb";
}
.icon-font:before {
  content: "\ebe3";
}
.icon-font-size:before {
  content: "\ebe8";
}
.icon-forward:before {
  content: "\eaf0";
}
.icon-forward2:before {
  content: "\eba2";
}
.icon-forward3:before {
  content: "\eba7";
}
.icon-forward6:before {
  content: "\ecc5";
}
.icon-foursquare:before {
  content: "\ec5d";
}
.icon-frustrated:before {
  content: "\eb86";
}
.icon-frustrated2:before {
  content: "\eb87";
}
.icon-gift:before {
  content: "\eb26";
}
.icon-git:before {
  content: "\ec6e";
}
.icon-github:before {
  content: "\ec37";
}
.icon-glass:before {
  content: "\eb27";
}
.icon-glass2:before {
  content: "\eb28";
}
.icon-google:before {
  content: "\ec0f";
}
.icon-google-drive:before {
  content: "\ec16";
}
.icon-grin:before {
  content: "\eb70";
}
.icon-grin2:before {
  content: "\eb71";
}
.icon-hackernews:before {
  content: "\ec4e";
}
.icon-hammer:before {
  content: "\eb1d";
}
.icon-hammer2:before {
  content: "\eb2f";
}
.icon-hangouts:before {
  content: "\ec15";
}
.icon-happy:before {
  content: "\eb66";
}
.icon-happy2:before {
  content: "\eb67";
}
.icon-headphones:before {
  content: "\ea97";
}
.icon-heart:before {
  content: "\eb61";
}
.icon-heart-broken:before {
  content: "\eb62";
}
.icon-hipster:before {
  content: "\eb80";
}
.icon-hipster2:before {
  content: "\eb81";
}
.icon-history:before {
  content: "\ead4";
}
.icon-home:before {
  content: "\ea87";
}
.icon-home2:before {
  content: "\ea88";
}
.icon-home3:before {
  content: "\ea89";
}
.icon-hour-glass:before {
  content: "\eb00";
}
.icon-html-five:before {
  content: "\ec6b";
}
.icon-html-five2:before {
  content: "\ec6c";
}
.icon-image:before {
  content: "\ea94";
}
.icon-images:before {
  content: "\ea95";
}
.icon-indent-decrease:before {
  content: "\ec03";
}
.icon-indent-increase:before {
  content: "\ec02";
}
.icon-infinite:before {
  content: "\ebb6";
}
.icon-info:before {
  content: "\eb93";
}
.icon-info5:before {
  content: "\ed68";
}
.icon-insert-template:before {
  content: "\ebf9";
}
.icon-instagram:before {
  content: "\ec19";
}
.icon-instagram3:before {
  content: "\edee";
}
.icon-italic:before {
  content: "\ebeb";
}
.icon-joomla:before {
  content: "\ec3c";
}
.icon-key:before {
  content: "\eb14";
}
.icon-key2:before {
  content: "\eb15";
}
.icon-keyboard:before {
  content: "\eadc";
}
.icon-lab:before {
  content: "\eb31";
}
.icon-lanyrd:before {
  content: "\ec29";
}
.icon-laptop:before {
  content: "\eade";
}
.icon-last:before {
  content: "\eba9";
}
.icon-leaf:before {
  content: "\eb2b";
}
.icon-library:before {
  content: "\eaa8";
}
.icon-libreoffice:before {
  content: "\ec6a";
}
.icon-ligature:before {
  content: "\ebe4";
}
.icon-ligature2:before {
  content: "\ebe5";
}
.icon-lightning2:before {
  content: "\ee55";
}
.icon-lightning3:before {
  content: "\ee56";
}
.icon-lightning4:before {
  content: "\ee61";
}
.icon-lightning5:before {
  content: "\ee67";
}
.icon-lightning6:before {
  content: "\ee70";
}
.icon-lines:before {
  content: "\ee53";
}
.icon-link:before {
  content: "\eb52";
}
.icon-linkedin:before {
  content: "\ec50";
}
.icon-linkedin2:before {
  content: "\ec51";
}
.icon-list:before {
  content: "\eb41";
}
.icon-list-numbered:before {
  content: "\eb40";
}
.icon-list2:before {
  content: "\eb42";
}
.icon-location:before {
  content: "\eace";
}
.icon-location2:before {
  content: "\eacf";
}
.icon-lock:before {
  content: "\eb16";
}
.icon-loop:before {
  content: "\ebb4";
}
.icon-loop2:before {
  content: "\ebb5";
}
.icon-ltr:before {
  content: "\ebfb";
}
.icon-magic-wand:before {
  content: "\eb1e";
}
.icon-magnet:before {
  content: "\eb32";
}
.icon-mail:before {
  content: "\ec0a";
}
.icon-mail2:before {
  content: "\ec0b";
}
.icon-mail3:before {
  content: "\ec0c";
}
.icon-mail4:before {
  content: "\ec0d";
}
.icon-make-group:before {
  content: "\ebdf";
}
.icon-man:before {
  content: "\eb63";
}
.icon-man-woman:before {
  content: "\eb65";
}
.icon-map:before {
  content: "\ead2";
}
.icon-map2:before {
  content: "\ead3";
}
.icon-menu:before {
  content: "\eb44";
}
.icon-menu2:before {
  content: "\eb45";
}
.icon-menu3:before {
  content: "\eb46";
}
.icon-menu4:before {
  content: "\eb47";
}
.icon-meter:before {
  content: "\eb2d";
}
.icon-meter2:before {
  content: "\eb2e";
}
.icon-mic:before {
  content: "\eaa5";
}
.icon-minus:before {
  content: "\eb92";
}
.icon-mobile:before {
  content: "\eadf";
}
.icon-mobile2:before {
  content: "\eae0";
}
.icon-moon2:before {
  content: "\ee49";
}
.icon-moon3:before {
  content: "\ee63";
}
.icon-move-down:before {
  content: "\ebce";
}
.icon-move-up:before {
  content: "\ebcd";
}
.icon-mug:before {
  content: "\eb29";
}
.icon-music:before {
  content: "\ea98";
}
.icon-neutral:before {
  content: "\eb7e";
}
.icon-neutral2:before {
  content: "\eb7f";
}
.icon-new-tab:before {
  content: "\ec05";
}
.icon-newspaper:before {
  content: "\ea8b";
}
.icon-next:before {
  content: "\eba0";
}
.icon-next2:before {
  content: "\ebab";
}
.icon-none:before {
  content: "\ee73";
}
.icon-notification:before {
  content: "\eb8f";
}
.icon-npm:before {
  content: "\ec38";
}
.icon-office:before {
  content: "\ea8a";
}
.icon-omega:before {
  content: "\ebed";
}
.icon-onedrive:before {
  content: "\ec36";
}
.icon-opera:before {
  content: "\ec65";
}
.icon-opt:before {
  content: "\ebd8";
}
.icon-pacman:before {
  content: "\ea9d";
}
.icon-page-break:before {
  content: "\ebef";
}
.icon-pagebreak:before {
  content: "\ebf5";
}
.icon-paint-format:before {
  content: "\ea93";
}
.icon-paragraph-center:before {
  content: "\ebff";
}
.icon-paragraph-justify:before {
  content: "\ec01";
}
.icon-paragraph-left:before {
  content: "\ebfe";
}
.icon-paragraph-right:before {
  content: "\ec00";
}
.icon-paste:before {
  content: "\eab4";
}
.icon-pause:before {
  content: "\eb9d";
}
.icon-pause2:before {
  content: "\eba4";
}
.icon-pause4:before {
  content: "\ed72";
}
.icon-paypal:before {
  content: "\ec5f";
}
.icon-pen:before {
  content: "\ea8f";
}
.icon-pencil:before {
  content: "\ea8c";
}
.icon-pencil2:before {
  content: "\ea8d";
}
.icon-phone:before {
  content: "\eac9";
}
.icon-phone-hang-up:before {
  content: "\eaca";
}
.icon-pie-chart:before {
  content: "\eb21";
}
.icon-pilcrow:before {
  content: "\ebfa";
}
.icon-pinterest:before {
  content: "\ec58";
}
.icon-pinterest2:before {
  content: "\ec59";
}
.icon-play:before {
  content: "\ea99";
}
.icon-play2:before {
  content: "\eb9c";
}
.icon-play3:before {
  content: "\eba3";
}
.icon-plus:before {
  content: "\eb91";
}
.icon-podcast:before {
  content: "\eaa3";
}
.icon-point-down:before {
  content: "\eb8c";
}
.icon-point-left:before {
  content: "\eb8d";
}
.icon-point-right:before {
  content: "\eb8b";
}
.icon-point-up:before {
  content: "\eb8a";
}
.icon-power:before {
  content: "\eb3c";
}
.icon-power-cord:before {
  content: "\eb3e";
}
.icon-power2:before {
  content: "\ed11";
}
.icon-previous:before {
  content: "\eb9f";
}
.icon-previous2:before {
  content: "\ebaa";
}
.icon-price-tag:before {
  content: "\eabc";
}
.icon-price-tags:before {
  content: "\eabd";
}
.icon-printer:before {
  content: "\eadb";
}
.icon-profile:before {
  content: "\eaaa";
}
.icon-profile5:before {
  content: "\ec7f";
}
.icon-pushpin:before {
  content: "\eacd";
}
.icon-qrcode:before {
  content: "\eabf";
}
.icon-question:before {
  content: "\eb90";
}
.icon-quill:before {
  content: "\ea8e";
}
.icon-quotes-left:before {
  content: "\eafe";
}
.icon-quotes-right:before {
  content: "\eaff";
}
.icon-radio-checked:before {
  content: "\ebdb";
}
.icon-radio-checked2:before {
  content: "\ebdc";
}
.icon-radio-unchecked:before {
  content: "\ebdd";
}
.icon-rainy:before {
  content: "\ee58";
}
.icon-rainy2:before {
  content: "\ee57";
}
.icon-rainy3:before {
  content: "\ee68";
}
.icon-rainy4:before {
  content: "\ee69";
}
.icon-reddit:before {
  content: "\ec4d";
}
.icon-reddit3:before {
  content: "\ee22";
}
.icon-redo:before {
  content: "\eaed";
}
.icon-redo2:before {
  content: "\eaef";
}
.icon-renren:before {
  content: "\ec20";
}
.icon-reply:before {
  content: "\eaf1";
}
.icon-road:before {
  content: "\eb38";
}
.icon-rocket:before {
  content: "\eb2c";
}
.icon-rss:before {
  content: "\ec22";
}
.icon-rss2:before {
  content: "\ec23";
}
.icon-rtl:before {
  content: "\ebfc";
}
.icon-sad:before {
  content: "\eb6c";
}
.icon-sad2:before {
  content: "\eb6d";
}
.icon-safari:before {
  content: "\ec64";
}
.icon-scissors:before {
  content: "\ebe1";
}
.icon-search:before {
  content: "\eb0d";
}
.icon-search3:before {
  content: "\ece2";
}
.icon-section:before {
  content: "\ebfd";
}
.icon-share:before {
  content: "\ec04";
}
.icon-share2:before {
  content: "\ec09";
}
.icon-share4:before {
  content: "\edd9";
}
.icon-shield:before {
  content: "\eb3b";
}
.icon-shift:before {
  content: "\ebd6";
}
.icon-shocked:before {
  content: "\eb78";
}
.icon-shocked2:before {
  content: "\eb79";
}
.icon-shrink:before {
  content: "\eb11";
}
.icon-shrink2:before {
  content: "\eb13";
}
.icon-shuffle:before {
  content: "\ebb7";
}
.icon-sigma:before {
  content: "\ebee";
}
.icon-sina-weibo:before {
  content: "\ec21";
}
.icon-skype:before {
  content: "\ec4c";
}
.icon-sleepy:before {
  content: "\eb84";
}
.icon-sleepy2:before {
  content: "\eb85";
}
.icon-smile:before {
  content: "\eb68";
}
.icon-smile2:before {
  content: "\eb69";
}
.icon-snowflake:before {
  content: "\ee4d";
}
.icon-snowy:before {
  content: "\ee5b";
}
.icon-snowy2:before {
  content: "\ee5c";
}
.icon-snowy3:before {
  content: "\ee5d";
}
.icon-snowy4:before {
  content: "\ee6c";
}
.icon-snowy5:before {
  content: "\ee6d";
}
.icon-sort-alpha-asc:before {
  content: "\ebcf";
}
.icon-sort-alpha-desc:before {
  content: "\ebd0";
}
.icon-sort-amount-asc:before {
  content: "\ebd3";
}
.icon-sort-amount-desc:before {
  content: "\ebd4";
}
.icon-sort-numberic-desc:before {
  content: "\ebd2";
}
.icon-sort-numeric-asc:before {
  content: "\ebd1";
}
.icon-soundcloud:before {
  content: "\ec4a";
}
.icon-soundcloud2:before {
  content: "\ec4b";
}
.icon-spades:before {
  content: "\ea9e";
}
.icon-spell-check:before {
  content: "\eb99";
}
.icon-sphere:before {
  content: "\eb50";
}
.icon-spinner:before {
  content: "\eb01";
}
.icon-spinner10:before {
  content: "\eb0a";
}
.icon-spinner11:before {
  content: "\eb0b";
}
.icon-spinner2:before {
  content: "\eb02";
}
.icon-spinner3:before {
  content: "\eb03";
}
.icon-spinner4:before {
  content: "\eb04";
}
.icon-spinner5:before {
  content: "\eb05";
}
.icon-spinner6:before {
  content: "\eb06";
}
.icon-spinner7:before {
  content: "\eb07";
}
.icon-spinner8:before {
  content: "\eb08";
}
.icon-spinner9:before {
  content: "\eb09";
}
.icon-spoon-knife:before {
  content: "\eb2a";
}
.icon-spotify:before {
  content: "\ec1b";
}
.icon-stack:before {
  content: "\eab5";
}
.icon-stackoverflow:before {
  content: "\ec57";
}
.icon-star-empty:before {
  content: "\eb5e";
}
.icon-star-full:before {
  content: "\eb60";
}
.icon-star-half:before {
  content: "\eb5f";
}
.icon-stats-bars:before {
  content: "\eb23";
}
.icon-stats-bars2:before {
  content: "\eb24";
}
.icon-stats-dots:before {
  content: "\eb22";
}
.icon-steam:before {
  content: "\ec33";
}
.icon-steam2:before {
  content: "\ec34";
}
.icon-stop:before {
  content: "\eb9e";
}
.icon-stop2:before {
  content: "\eba5";
}
.icon-stopwatch:before {
  content: "\ead9";
}
.icon-strikethrough:before {
  content: "\ebec";
}
.icon-stumbleupon:before {
  content: "\ec55";
}
.icon-stumbleupon2:before {
  content: "\ec56";
}
.icon-subscript:before {
  content: "\ebf1";
}
.icon-subscript2:before {
  content: "\ebf3";
}
.icon-sun:before {
  content: "\eb5b";
}
.icon-sun3:before {
  content: "\ed30";
}
.icon-sun4:before {
  content: "\ee48";
}
.icon-sun5:before {
  content: "\ee4a";
}
.icon-sun6:before {
  content: "\ee62";
}
.icon-sunrise:before {
  content: "\ee47";
}
.icon-superscript:before {
  content: "\ebf0";
}
.icon-superscript2:before {
  content: "\ebf2";
}
.icon-svg:before {
  content: "\ec70";
}
.icon-switch:before {
  content: "\eb3d";
}
.icon-tab:before {
  content: "\ebcc";
}
.icon-table:before {
  content: "\ebf7";
}
.icon-table2:before {
  content: "\ebf8";
}
.icon-tablet:before {
  content: "\eae1";
}
.icon-target:before {
  content: "\eb3a";
}
.icon-telegram:before {
  content: "\ec1c";
}
.icon-terminal:before {
  content: "\ec08";
}
.icon-text-color:before {
  content: "\ebf4";
}
.icon-text-height:before {
  content: "\ebe6";
}
.icon-text-width:before {
  content: "\ebe7";
}
.icon-thermometer3:before {
  content: "\ee71";
}
.icon-ticket:before {
  content: "\eac0";
}
.icon-tongue:before {
  content: "\eb6a";
}
.icon-tongue2:before {
  content: "\eb6b";
}
.icon-tree:before {
  content: "\eb43";
}
.icon-tree3:before {
  content: "\ed18";
}
.icon-trello:before {
  content: "\ec3a";
}
.icon-trophy:before {
  content: "\eb25";
}
.icon-truck:before {
  content: "\eb37";
}
.icon-tumblr:before {
  content: "\ec40";
}
.icon-tumblr2:before {
  content: "\ec41";
}
.icon-tux:before {
  content: "\ec44";
}
.icon-tv:before {
  content: "\eae2";
}
.icon-twitch:before {
  content: "\ec26";
}
.icon-twitter:before {
  content: "\ec1d";
}
.icon-underline:before {
  content: "\ebea";
}
.icon-undo:before {
  content: "\eaec";
}
.icon-undo2:before {
  content: "\eaee";
}
.icon-ungroup:before {
  content: "\ebe0";
}
.icon-unlocked:before {
  content: "\eb17";
}
.icon-upload:before {
  content: "\eae8";
}
.icon-upload2:before {
  content: "\eb4d";
}
.icon-upload3:before {
  content: "\eb4f";
}
.icon-user:before {
  content: "\eaf8";
}
.icon-user-check:before {
  content: "\eafc";
}
.icon-user-minus:before {
  content: "\eafb";
}
.icon-user-plus:before {
  content: "\eafa";
}
.icon-user-tie:before {
  content: "\eafd";
}
.icon-users:before {
  content: "\eaf9";
}
.icon-video-camera:before {
  content: "\ea9b";
}
.icon-vimeo:before {
  content: "\ec27";
}
.icon-vimeo2:before {
  content: "\ec28";
}
.icon-vimeo4:before {
  content: "\edfc";
}
.icon-vine:before {
  content: "\ec1e";
}
.icon-vk:before {
  content: "\ec1f";
}
.icon-volume-decrease:before {
  content: "\ebb3";
}
.icon-volume-high:before {
  content: "\ebad";
}
.icon-volume-increase:before {
  content: "\ebb2";
}
.icon-volume-low:before {
  content: "\ebaf";
}
.icon-volume-medium:before {
  content: "\ebae";
}
.icon-volume-mute:before {
  content: "\ebb0";
}
.icon-volume-mute2:before {
  content: "\ebb1";
}
.icon-warning:before {
  content: "\eb8e";
}
.icon-weather:before {
  content: "\ee50";
}
.icon-weather2:before {
  content: "\ee51";
}
.icon-weather3:before {
  content: "\ee52";
}
.icon-weather4:before {
  content: "\ee5e";
}
.icon-weather5:before {
  content: "\ee6e";
}
.icon-whatsapp:before {
  content: "\ec1a";
}
.icon-wikipedia:before {
  content: "\ec4f";
}
.icon-wind:before {
  content: "\ee4c";
}
.icon-windows:before {
  content: "\ec48";
}
.icon-windows8:before {
  content: "\ec49";
}
.icon-windy:before {
  content: "\ee4b";
}
.icon-windy2:before {
  content: "\ee59";
}
.icon-windy3:before {
  content: "\ee5a";
}
.icon-windy4:before {
  content: "\ee6a";
}
.icon-windy5:before {
  content: "\ee6b";
}
.icon-wink:before {
  content: "\eb6e";
}
.icon-wink2:before {
  content: "\eb6f";
}
.icon-woman:before {
  content: "\eb64";
}
.icon-wondering:before {
  content: "\eb82";
}
.icon-wondering2:before {
  content: "\eb83";
}
.icon-wordpress:before {
  content: "\ec3b";
}
.icon-wrench:before {
  content: "\eb18";
}
.icon-xing:before {
  content: "\ec5a";
}
.icon-xing2:before {
  content: "\ec5b";
}
.icon-yahoo:before {
  content: "\ec42";
}
.icon-yahoo2:before {
  content: "\ec43";
}
.icon-yelp:before {
  content: "\ec5e";
}
.icon-youtube:before {
  content: "\ec24";
}
.icon-youtube2:before {
  content: "\ec25";
}
.icon-zoom-in:before {
  content: "\eb0e";
}
.icon-zoom-out:before {
  content: "\eb0f";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-book2:before {
  content: "\f2b9";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-adn:before {
  content: "\f170";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.icon-asl-interpreting:before {
  content: "\f2a3";
}
.icon-anchor2:before {
  content: "\f13d";
}
.icon-android3:before {
  content: "\f17b";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-apple:before {
  content: "\f179";
}
.icon-archive2:before {
  content: "\f187";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-down4:before {
  content: "\f063";
}
.icon-arrow-left4:before {
  content: "\f060";
}
.icon-arrow-right4:before {
  content: "\f061";
}
.icon-arrow-up4:before {
  content: "\f062";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-audio-description:before {
  content: "\f29e";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car2:before {
  content: "\f1b9";
}
.icon-backward3:before {
  content: "\f04a";
}
.icon-balance-scale:before {
  content: "\f24e";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-bandcamp:before {
  content: "\f2d5";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-barcode4:before {
  content: "\f02a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
.icon-battery-0:before {
  content: "\f244";
}
.icon-battery-empty:before {
  content: "\f244";
}
.icon-battery-1:before {
  content: "\f243";
}
.icon-battery-quarter:before {
  content: "\f243";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-half:before {
  content: "\f242";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-three-quarters:before {
  content: "\f241";
}
.icon-battery6:before {
  content: "\f240";
}
.icon-battery-4:before {
  content: "\f240";
}
.icon-battery-full:before {
  content: "\f240";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-behance-square:before {
  content: "\f1b5";
}
.icon-behance3:before {
  content: "\f1b4";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-bell-slash:before {
  content: "\f1f6";
}
.icon-bell-slash-o:before {
  content: "\f1f7";
}
.icon-bell2:before {
  content: "\f0f3";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-binoculars2:before {
  content: "\f1e5";
}
.icon-birthday-cake:before {
  content: "\f1fd";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-btc:before {
  content: "\f15a";
}
.icon-black-tie:before {
  content: "\f27e";
}
.icon-blind:before {
  content: "\f29d";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-bold2:before {
  content: "\f032";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-bomb2:before {
  content: "\f1e2";
}
.icon-book4:before {
  content: "\f02d";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-bookmark4:before {
  content: "\f02e";
}
.icon-braille:before {
  content: "\f2a1";
}
.icon-briefcase2:before {
  content: "\f0b1";
}
.icon-bug2:before {
  content: "\f188";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-bullhorn2:before {
  content: "\f0a1";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-bus2:before {
  content: "\f207";
}
.icon-buysellads:before {
  content: "\f20d";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-calculator3:before {
  content: "\f1ec";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar5:before {
  content: "\f073";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-camera5:before {
  content: "\f030";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-caret-square-o-down:before {
  content: "\f150";
}
.icon-toggle-down:before {
  content: "\f150";
}
.icon-caret-square-o-left:before {
  content: "\f191";
}
.icon-toggle-left:before {
  content: "\f191";
}
.icon-caret-square-o-right:before {
  content: "\f152";
}
.icon-toggle-right:before {
  content: "\f152";
}
.icon-caret-square-o-up:before {
  content: "\f151";
}
.icon-toggle-up:before {
  content: "\f151";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cc:before {
  content: "\f20a";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link4:before {
  content: "\f0c1";
}
.icon-chain-broken:before {
  content: "\f127";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-check:before {
  content: "\f00c";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle-o-notch:before {
  content: "\f1ce";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-circle2:before {
  content: "\f111";
}
.icon-clipboard5:before {
  content: "\f0ea";
}
.icon-paste2:before {
  content: "\f0ea";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-clone:before {
  content: "\f24d";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-cloud-download2:before {
  content: "\f0ed";
}
.icon-cloud-upload2:before {
  content: "\f0ee";
}
.icon-cloud3:before {
  content: "\f0c2";
}
.icon-yen:before {
  content: "\f157";
}
.icon-cny:before {
  content: "\f157";
}
.icon-jpy:before {
  content: "\f157";
}
.icon-rmb:before {
  content: "\f157";
}
.icon-code:before {
  content: "\f121";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-codepen2:before {
  content: "\f1cb";
}
.icon-codiepie:before {
  content: "\f284";
}
.icon-coffee2:before {
  content: "\f0f4";
}
.icon-gear:before {
  content: "\f013";
}
.icon-cog4:before {
  content: "\f013";
}
.icon-gears:before {
  content: "\f085";
}
.icon-cogs3:before {
  content: "\f085";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-comment:before {
  content: "\f075";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-compass4:before {
  content: "\f14e";
}
.icon-compress:before {
  content: "\f066";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-contao:before {
  content: "\f26d";
}
.icon-copy2:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-creative-commons:before {
  content: "\f25e";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-credit-card2:before {
  content: "\f09d";
}
.icon-crop3:before {
  content: "\f125";
}
.icon-crosshairs:before {
  content: "\f05b";
}
.icon-cube2:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-scissors3:before {
  content: "\f0c4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-dashcube:before {
  content: "\f210";
}
.icon-database2:before {
  content: "\f1c0";
}
.icon-deaf:before {
  content: "\f2a4";
}
.icon-deafness:before {
  content: "\f2a4";
}
.icon-hard-of-hearing:before {
  content: "\f2a4";
}
.icon-dedent:before {
  content: "\f03b";
}
.icon-outdent:before {
  content: "\f03b";
}
.icon-delicious2:before {
  content: "\f1a5";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-diamond2:before {
  content: "\f219";
}
.icon-digg:before {
  content: "\f1a6";
}
.icon-usd:before {
  content: "\f155";
}
.icon-dollar3:before {
  content: "\f155";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-download7:before {
  content: "\f019";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-drupal:before {
  content: "\f1a9";
}
.icon-edit2:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-eercast:before {
  content: "\f2da";
}
.icon-eject2:before {
  content: "\f052";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-menu-dots-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-menu-dots-v:before {
  content: "\f142";
}
.icon-empire:before {
  content: "\f1d1";
}
.icon-ge:before {
  content: "\f1d1";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-envelope3:before {
  content: "\f0e0";
}
.icon-envira:before {
  content: "\f299";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-etsy:before {
  content: "\f2d7";
}
.icon-eur:before {
  content: "\f153";
}
.icon-euro:before {
  content: "\f153";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning3:before {
  content: "\f071";
}
.icon-expand2:before {
  content: "\f065";
}
.icon-expeditedssl:before {
  content: "\f23e";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-eye3:before {
  content: "\f06e";
}
.icon-eyedropper3:before {
  content: "\f1fb";
}
.icon-font-awesome:before {
  content: "\f2b4";
}
.icon-fa:before {
  content: "\f2b4";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-feed2:before {
  content: "\f09e";
}
.icon-rss3:before {
  content: "\f09e";
}
.icon-female2:before {
  content: "\f182";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-file-audio-o:before {
  content: "\f1c7";
}
.icon-file-sound-o:before {
  content: "\f1c7";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-movie-o:before {
  content: "\f1c8";
}
.icon-file-video-o:before {
  content: "\f1c8";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-text3:before {
  content: "\f15c";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file4:before {
  content: "\f15b";
}
.icon-film5:before {
  content: "\f008";
}
.icon-filter2:before {
  content: "\f0b0";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-fire2:before {
  content: "\f06d";
}
.icon-first-order:before {
  content: "\f2b0";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-flag2:before {
  content: "\f024";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-flickr5:before {
  content: "\f16e";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-folder-open2:before {
  content: "\f07c";
}
.icon-folder3:before {
  content: "\f07b";
}
.icon-font2:before {
  content: "\f031";
}
.icon-fonticons:before {
  content: "\f280";
}
.icon-fort-awesome:before {
  content: "\f286";
}
.icon-forumbee:before {
  content: "\f211";
}
.icon-forward5:before {
  content: "\f04e";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-futbol-o:before {
  content: "\f1e3";
}
.icon-soccer-ball-o:before {
  content: "\f1e3";
}
.icon-gamepad2:before {
  content: "\f11b";
}
.icon-gavel:before {
  content: "\f0e3";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-genderless:before {
  content: "\f22d";
}
.icon-get-pocket:before {
  content: "\f265";
}
.icon-gg:before {
  content: "\f260";
}
.icon-gg-circle:before {
  content: "\f261";
}
.icon-gift2:before {
  content: "\f06b";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-git2:before {
  content: "\f1d3";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-github2:before {
  content: "\f09b";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-glass3:before {
  content: "\f000";
}
.icon-glide-g:before {
  content: "\f2a6";
}
.icon-globe3:before {
  content: "\f0ac";
}
.icon-google-wallet:before {
  content: "\f1ee";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-grav:before {
  content: "\f2d6";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users2:before {
  content: "\f0c0";
}
.icon-h-square:before {
  content: "\f0fd";
}
.icon-hacker-news:before {
  content: "\f1d4";
}
.icon-y-combinator-square:before {
  content: "\f1d4";
}
.icon-yc-square:before {
  content: "\f1d4";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-rock-o:before {
  content: "\f255";
}
.icon-hand-lizard-o:before {
  content: "\f258";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-paper-o:before {
  content: "\f256";
}
.icon-hand-stop-o:before {
  content: "\f256";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-hand-scissors-o:before {
  content: "\f257";
}
.icon-hand-spock-o:before {
  content: "\f259";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-hashtag:before {
  content: "\f292";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-header:before {
  content: "\f1dc";
}
.icon-headphones3:before {
  content: "\f025";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-heart5:before {
  content: "\f004";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-history2:before {
  content: "\f1da";
}
.icon-home4:before {
  content: "\f015";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-hourglass-1:before {
  content: "\f251";
}
.icon-hourglass-start:before {
  content: "\f251";
}
.icon-hourglass-2:before {
  content: "\f252";
}
.icon-hourglass-half:before {
  content: "\f252";
}
.icon-hourglass-3:before {
  content: "\f253";
}
.icon-hourglass-end:before {
  content: "\f253";
}
.icon-hourglass-o:before {
  content: "\f250";
}
.icon-hourglass2:before {
  content: "\f254";
}
.icon-houzz:before {
  content: "\f27c";
}
.icon-i-cursor:before {
  content: "\f246";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-ils:before {
  content: "\f20b";
}
.icon-shekel:before {
  content: "\f20b";
}
.icon-sheqel:before {
  content: "\f20b";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-image3:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-imdb:before {
  content: "\f2d8";
}
.icon-inbox3:before {
  content: "\f01c";
}
.icon-industry:before {
  content: "\f275";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-info4:before {
  content: "\f129";
}
.icon-rupee:before {
  content: "\f156";
}
.icon-inr:before {
  content: "\f156";
}
.icon-instagram2:before {
  content: "\f16d";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-intersex:before {
  content: "\f224";
}
.icon-transgender:before {
  content: "\f224";
}
.icon-ioxhost:before {
  content: "\f208";
}
.icon-italic2:before {
  content: "\f033";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-key4:before {
  content: "\f084";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-krw:before {
  content: "\f159";
}
.icon-won:before {
  content: "\f159";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-laptop2:before {
  content: "\f109";
}
.icon-lastfm-square:before {
  content: "\f203";
}
.icon-lastfm3:before {
  content: "\f202";
}
.icon-leaf2:before {
  content: "\f06c";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-lemon-o:before {
  content: "\f094";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-support:before {
  content: "\f1cd";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-life-buoy:before {
  content: "\f1cd";
}
.icon-life-ring:before {
  content: "\f1cd";
}
.icon-life-saver:before {
  content: "\f1cd";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-linode:before {
  content: "\f2b8";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list5:before {
  content: "\f03a";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-lock2:before {
  content: "\f023";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-low-vision:before {
  content: "\f2a8";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-magnet3:before {
  content: "\f076";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share3:before {
  content: "\f064";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply3:before {
  content: "\f112";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-male2:before {
  content: "\f183";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map-pin:before {
  content: "\f276";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map4:before {
  content: "\f279";
}
.icon-mars:before {
  content: "\f222";
}
.icon-mars-double:before {
  content: "\f227";
}
.icon-mars-stroke:before {
  content: "\f229";
}
.icon-mars-stroke-h:before {
  content: "\f22b";
}
.icon-mars-stroke-v:before {
  content: "\f22a";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-meanpath:before {
  content: "\f20c";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-meetup:before {
  content: "\f2e0";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-mercury:before {
  content: "\f223";
}
.icon-microchip:before {
  content: "\f2db";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-microphone5:before {
  content: "\f130";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-minus5:before {
  content: "\f068";
}
.icon-mixcloud:before {
  content: "\f289";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-mobile3:before {
  content: "\f10b";
}
.icon-modx:before {
  content: "\f285";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-music3:before {
  content: "\f001";
}
.icon-neuter:before {
  content: "\f22c";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-object-ungroup:before {
  content: "\f248";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-openid:before {
  content: "\f19b";
}
.icon-optin-monster:before {
  content: "\f23c";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-paragraph:before {
  content: "\f1dd";
}
.icon-pause-circle:before {
  content: "\f28b";
}
.icon-pause-circle-o:before {
  content: "\f28c";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-pencil4:before {
  content: "\f040";
}
.icon-percent:before {
  content: "\f295";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-phone5:before {
  content: "\f095";
}
.icon-pie-chart2:before {
  content: "\f200";
}
.icon-pied-piper:before {
  content: "\f2ae";
}
.icon-pied-piper-alt:before {
  content: "\f1a8";
}
.icon-pied-piper-pp:before {
  content: "\f1a7";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-plane2:before {
  content: "\f072";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-plus-square-o:before {
  content: "\f196";
}
.icon-plus4:before {
  content: "\f067";
}
.icon-podcast2:before {
  content: "\f2ce";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-print:before {
  content: "\f02f";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-qrcode2:before {
  content: "\f029";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-question2:before {
  content: "\f128";
}
.icon-quora:before {
  content: "\f2c4";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-rebel:before {
  content: "\f1d0";
}
.icon-resistance:before {
  content: "\f1d0";
}
.icon-ra:before {
  content: "\f1d0";
}
.icon-random:before {
  content: "\f074";
}
.icon-ravelry:before {
  content: "\f2d9";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-reddit-square:before {
  content: "\f1a2";
}
.icon-reddit2:before {
  content: "\f1a1";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-registered:before {
  content: "\f25d";
}
.icon-renren2:before {
  content: "\f18b";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-road2:before {
  content: "\f018";
}
.icon-rocket3:before {
  content: "\f135";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo3:before {
  content: "\f0e2";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-safari2:before {
  content: "\f267";
}
.icon-scribd:before {
  content: "\f28a";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search2:before {
  content: "\f002";
}
.icon-sellsy:before {
  content: "\f213";
}
.icon-server:before {
  content: "\f233";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-share-alt-square:before {
  content: "\f1e1";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-shield2:before {
  content: "\f132";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-shirtsinbulk:before {
  content: "\f214";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-sign-language:before {
  content: "\f2a7";
}
.icon-signing:before {
  content: "\f2a7";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-signal:before {
  content: "\f012";
}
.icon-simplybuilt:before {
  content: "\f215";
}
.icon-sitemap3:before {
  content: "\f0e8";
}
.icon-skyatlas:before {
  content: "\f216";
}
.icon-slack:before {
  content: "\f198";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-snapchat:before {
  content: "\f2ab";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-snapchat-square:before {
  content: "\f2ad";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-alpha-asc2:before {
  content: "\f15d";
}
.icon-sort-alpha-desc2:before {
  content: "\f15e";
}
.icon-sort-amount-asc2:before {
  content: "\f160";
}
.icon-sort-amount-desc2:before {
  content: "\f161";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-numeric-asc2:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-soundcloud3:before {
  content: "\f1be";
}
.icon-space-shuttle:before {
  content: "\f197";
}
.icon-spoon:before {
  content: "\f1b1";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-square3:before {
  content: "\f0c8";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-star-half2:before {
  content: "\f089";
}
.icon-steam-square:before {
  content: "\f1b7";
}
.icon-steam3:before {
  content: "\f1b6";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-sticky-note:before {
  content: "\f249";
}
.icon-sticky-note-o:before {
  content: "\f24a";
}
.icon-stop-circle:before {
  content: "\f28d";
}
.icon-stop-circle-o:before {
  content: "\f28e";
}
.icon-stop4:before {
  content: "\f04d";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-strikethrough2:before {
  content: "\f0cc";
}
.icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.icon-stumbleupon3:before {
  content: "\f1a4";
}
.icon-subscript3:before {
  content: "\f12c";
}
.icon-subway:before {
  content: "\f239";
}
.icon-suitcase4:before {
  content: "\f0f2";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-superpowers:before {
  content: "\f2dd";
}
.icon-superscript3:before {
  content: "\f12b";
}
.icon-table3:before {
  content: "\f0ce";
}
.icon-tag3:before {
  content: "\f02b";
}
.icon-tags2:before {
  content: "\f02c";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-telegram2:before {
  content: "\f2c6";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv3:before {
  content: "\f26c";
}
.icon-tencent-weibo:before {
  content: "\f1d5";
}
.icon-terminal2:before {
  content: "\f120";
}
.icon-text-height2:before {
  content: "\f034";
}
.icon-text-width2:before {
  content: "\f035";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-themeisle:before {
  content: "\f2b2";
}
.icon-thermometer-0:before {
  content: "\f2cb";
}
.icon-thermometer-empty:before {
  content: "\f2cb";
}
.icon-thermometer-1:before {
  content: "\f2ca";
}
.icon-thermometer-quarter:before {
  content: "\f2ca";
}
.icon-thermometer-2:before {
  content: "\f2c9";
}
.icon-thermometer-half:before {
  content: "\f2c9";
}
.icon-thermometer-3:before {
  content: "\f2c8";
}
.icon-thermometer-three-quarters:before {
  content: "\f2c8";
}
.icon-thermometer2:before {
  content: "\f2c7";
}
.icon-thermometer-4:before {
  content: "\f2c7";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-ticket5:before {
  content: "\f145";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-times-rectangle:before {
  content: "\f2d3";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-tint:before {
  content: "\f043";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-trademark:before {
  content: "\f25c";
}
.icon-train:before {
  content: "\f238";
}
.icon-transgender-alt:before {
  content: "\f225";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-tree2:before {
  content: "\f1bb";
}
.icon-trello2:before {
  content: "\f181";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-trophy2:before {
  content: "\f091";
}
.icon-truck3:before {
  content: "\f0d1";
}
.icon-try:before {
  content: "\f195";
}
.icon-turkish-lira:before {
  content: "\f195";
}
.icon-tty:before {
  content: "\f1e4";
}
.icon-twitch2:before {
  content: "\f1e8";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-umbrella2:before {
  content: "\f0e9";
}
.icon-underline2:before {
  content: "\f0cd";
}
.icon-universal-access:before {
  content: "\f29a";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-upload6:before {
  content: "\f093";
}
.icon-usb2:before {
  content: "\f287";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-user-plus2:before {
  content: "\f234";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-user2:before {
  content: "\f007";
}
.icon-venus:before {
  content: "\f221";
}
.icon-venus-double:before {
  content: "\f226";
}
.icon-venus-mars:before {
  content: "\f228";
}
.icon-viacoin:before {
  content: "\f237";
}
.icon-viadeo:before {
  content: "\f2a9";
}
.icon-viadeo-square:before {
  content: "\f2aa";
}
.icon-video-camera2:before {
  content: "\f03d";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-vk2:before {
  content: "\f189";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-wheelchair-alt:before {
  content: "\f29b";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-window-maximize:before {
  content: "\f2d0";
}
.icon-window-minimize:before {
  content: "\f2d1";
}
.icon-window-restore:before {
  content: "\f2d2";
}
.icon-wordpress2:before {
  content: "\f19a";
}
.icon-wpbeginner:before {
  content: "\f297";
}
.icon-wpexplorer:before {
  content: "\f2de";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-wrench2:before {
  content: "\f0ad";
}
.icon-xing-square:before {
  content: "\f169";
}
.icon-y-combinator:before {
  content: "\f23b";
}
.icon-yc:before {
  content: "\f23b";
}
.icon-yahoo3:before {
  content: "\f19e";
}
.icon-yoast:before {
  content: "\f2b1";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube3:before {
  content: "\f167";
}
.icon-cd:before {
  content: "\e904";
}
.icon-floppy:before {
  content: "\e903";
}
.icon-hdd:before {
  content: "\e902";
}
.icon-grid-2:before {
  content: "\e900";
}
.icon-grid3:before {
  content: "\e901";
}
